
        

    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo"></div>
                </div>
            </div>
            <% if (channel !== undefined) {%>
                <div class="modal-block-content">
                    <h3>Channel Name: <span class="info-channel-name"><%= channel.name %></span></h3>
                </br>
                    <p>ID: <span class="info-channel-id"><%= channel._id %></span></p>
                    <p>Origin: <span class="info-channel-creation"><%= channel.creation %></span></p>
                    <p>Owner: <span class="info-channel-creator"><%= channel.creator %></span></p>
                    <span class="leave-channel btn btn-block btn-radius btn-primary">Leave Channel</span>
                </div>
            <%} else {%>
                <div class="modal-block-content">
                    <h3>Channel Name: <span class="info-channel-name"></span></h3>
                </br>
                    <p>ID: <span class="info-channel-id"></span></p>
                    <p>Origin: <span class="info-channel-creation"></span></p>
                    <p>Owner: <span class="info-channel-creator"></span></p>
                    <span class="leave-channel btn btn-block btn-radius btn-primary">Leave Channel</span>
                </div>
            <% } %>
        </div>
    </div>