<div style="display: none">
    <%- include("partials/header"); -%>
</div>

    <div class="info-container hidden"></div>

    <div class="dashboard">
        <div class="dashboard-channels-container">
            <img class="personal-profile-icon" src="/app/assets/face-white.svg"/>
            <div class="divider"></div>
            <%- include("partials/channel_section"); -%>
        </div>
        <div class="dashboard-main-content-container">
            <div class="dashboard-top-app-bar">
                <div class="title-info-container">
                    <% if (channel !== undefined) {%>
                        <span class="channel-title"><%= channel.name %></span>
                    <%}%>
                    <img class="channel-info-icon" src="/app/assets/info-white.svg" alt="info-icon" />
                </div>
                <input class="flat-accent-button" type="button" value="PUBLIC FEED" />
            </div>
            <div class="dashboard-sketch-history-container"></div>
            <div class="dashboard-canvas">
                <div id="stage-parent" style="padding: 0; width: 100%; height: 100%">
                    <div id="container" class="dashboard-canvas-container"></div>
                </div>

                <div class="dashboard-toolbox-container">
                    <img class="toolbox-expanded shadow primary-background-color clickable" height="40vh" width="40vh" id="toolbox-collapse-expand" src="/app/assets/toolbox_collapse.svg" alt="collapse/expand" />
                    <div class="dashboard-toolbox shadow primary-background-color">
                        <div class="dashboard-toolbox-size">
                            <img class="toolbox-size-item clickable" id="stroke-size-extra-small" alt="size-small" height="5px" src="/app/assets/toolbox_white.svg" />
                            <img class="toolbox-size-item clickable" id="stroke-size-small" alt="size-small" height="10px" src="/app/assets/toolbox_white.svg" />
                            <img class="toolbox-size-item clickable" id="stroke-size-middle" alt="size-small" height="15px" src="/app/assets/toolbox_white.svg" />
                            <img class="toolbox-size-item clickable" id="stroke-size-big" alt="size-small" height="25px" src="/app/assets/toolbox_white.svg" />
                        </div>

                        <img class="clickable" id="toolbox-pen" alt="pen" height="100px" src="/app/assets/toolbox_pen.png" />
                        <img class="clickable" id="toolbox-rubber"alt="rubber" height="80px" src="/app/assets/toolbox_rubber.png" />

                        <div class="dashboard-color-picker" id="color-slider-container"></div>

                        <img class="clickable" id="toolbox-delete-forever" alt="delete-forever" height="40px" width="40px" src="/app/assets/toolbox_delete_forever.svg" />
                    </div>

                </div>

            </div>
        </div>
        <div class="dashboard-member-container">
            <span class="member-title">MITGLIEDER</span>
        </div>
    </div>

    <script>

        function onInfoIconClick(data) {
            let infoContainer = document.querySelector(".info-container");
            if (infoContainer.classList.contains("hidden")) {
                infoContainer.classList.remove("hidden");
            } else {
                infoContainer.classList.add("hidden");
            }
        }

        document.querySelector(".channel-info-icon").addEventListener("click", onInfoIconClick.bind(this));
        document.querySelector("#channel-new").addEventListener("click", onInfoIconClick.bind(this));

        function copyChannelURL() {
            var dummy = document.createElement("input"),
                text = window.location.href;
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            document.querySelector("#copy").textContent = "URL copied!";
        }
    </script>

<%- include("partials/footer"); -%>