<%- include("partials/header"); -%>

    <h4>Dashboard</h4>


    <div class="info-container"></div>

    <div class="dashboard-left-bar-main-content">
        <!--Left Sidebar to display available channels-->
        <%- include ("partials/channel_section"); -%>
    
        <!--Draw Area-->
        <div id="stage-parent" style="padding: 0; width: 100vw; height: 100vh; background-color:blue">
          <div id="container" class="dashboard-canvas-container primary-dark-background-color"></div>
        </div>
    
        <!--Toolbox Elements-->
        <div class="dashboard-toolbox-container">
    
          <img class="toolbox-expanded shadow primary-background-color clickable" height="40vh" width="40vh" id="toolbox-collapse-expand" src="/app/assets/toolbox_collapse.svg" alt="collapse/expand" />
    
          <div class="dashboard-toolbox shadow primary-background-color">
            <div class="dashboard-toolbox-size">
              <img class="toolbox-size-item clickable" id="stroke-size-extra-small" alt="size-small" height="5px" src="/app/assets/toolbox_white.svg" />
              <img class="toolbox-size-item clickable" id="stroke-size-small" alt="size-small" height="10px" src="/app/assets/toolbox_white.svg" />
              <img class="toolbox-size-item clickable" id="stroke-size-middle" alt="size-small" height="15px" src="/app/assets/toolbox_white.svg" />
              <img class="toolbox-size-item clickable" id="stroke-size-big" alt="size-small" height="25px" src="/app/assets/toolbox_white.svg" />
            </div>
    
            <img class="clickable" id="toolbox-pen" alt="pen" height="100px" src="/app/assets/toolbox_pen.png" />
            <img class="clickable" id="toolbox-rubber"alt="rubber" height="80px" src="/app/assets/toolbox_rubber.png" />
    
            <div class="dashboard-color-picker" id="color-slider-container"></div>
    
            <img class="clickable" id="toolbox-delete-forever" alt="delete-forever" height="40px" width="40px" src="/app/assets/toolbox_delete_forever.svg" />
          </div>
    
        </div>

    <script>
        function copyChannelURL() {
            var dummy = document.createElement("input"),
                text = window.location.href;
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            document.querySelector("#copy").textContent = "URL copied!";
        }
    </script>

<%- include("partials/footer"); -%>