<%- include("partials/header"); -%>

<%- include ("partials/channel_section"); -%>

    <h4>Dashboard</h4>


    <div class="info-container"></div>

    <script>
        var channelList = document.querySelectorAll(".channel");

        function triggerAjax() {
            event.preventDefault();
            fetchChannelData(this.href);
        }

        function fetchChannelData(href) {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", href, true);
            xhr.onload = function() {
                document.querySelector(".info-container").innerHTML = this.responseText;
            }
            xhr.send();
        }

        channelList.forEach(channel => {
            channel.addEventListener("click", triggerAjax);
        });

        fetchChannelData(channelList[0].href);


    </script>

    <script>
        function copyChannelURL() {
            var dummy = document.createElement("input"),
                text = window.location.href;
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
            document.querySelector("#copy").textContent = "URL copied!";
        }
    </script>

<%- include("partials/footer"); -%>