<div style="display: none">
    <%- include("partials/header"); -%>
</div>

<h2>Frontpage</h2>
<div>
    <% if (user !== undefined) { %>
        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
    <% } else { %>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/register" class="btn btn-primary">Register</a>
    <% } %>
    <a href="/" class="btn btn-primary">Landing Page</a>
</div>


<%- include("partials/footer"); -%>