<%- include("partials/header"); -%>

<div class="imprint-content" style="padding: 15vh; text-align: center;">
    <h1>Imprint</h1>
    <p>Sketchimp is a student project within the Multimedia Engineering Seminar of the University of Regensburg in Germany.</p>
    <br>
    <h2 style="font-size: 1.5em;">Liability for contents:</h2>
    <p>As a service provider, we are responsible for our own contents on these pages according to the general laws in accordance with Section 7 Paragraph 1 of the German Telemedia Act (TMG). However, according to Section 8 to 10 TMG, we are not obliged as a service provider to monitor transmitted or stored third-party information or to search for circumstances that indicate illegal activity. </p>
    <p>Obligations to remove or block the use of information according to general laws remain unaffected. However, any liability in this respect is only possible from the time of knowledge of a concrete infringement. If we become aware of any such infringements, we will remove these contents immediately.</p> 
    <br>
    <h2 style="font-size: 1.5em; margin-bottom: 8px;">Third party tools and libraries used for this project:</h2>
    <a href="https://mongoosejs.com" ><p>- mongoosejs -</p></a>
    <a href="https://expressjs.com" ><p>- expressjs -</p></a>
    <a href="http://www.passportjs.org" ><p>- passportjs -</p></a>
    <a href="https://konvajs.org" ><p>- konvajs -</p></a>
    <a href="https://socket.io" ><p>- socket.io -</p></a>
    <a href="https://masonry.desandro.com" ><p>- masonry -</p></a>
    <a href="https://codepen.io/tholman/pen/ifDak"><p>- oil painting</p></a>
    <p>and a lot more...</p>
    <br>
    <br>
    <p>Made with &#9829; by Tim, Lukas, Timon & Tobias</p>
</div>


<%- include("partials/footer"); -%>