<%- include("partials/header"); -%>

<div class="hero" style="position: relative; width: 100%; height: 100%;">
    <canvas style="position: absolute; z-index: 1;" id='canvas'></canvas>
    <div class="landing-main-container">
        <div class="landing-content">
            <h2 class="noselect logo-text" style="position: relative; z-index: 2; text-transform: uppercase;">
                Sket<span>chimp</span></h2>
            <hr class="my-5"
                style="margin-bottom: 5vh; border: 1px solid #444444; width: 50%; position: relative; z-index: 2;">
        </div>
        <div class="scroll-indicator"></div>
    </div>
</div>

<div class="landing-main" style="width: 100%; position: relative; background: white;">
    <div class="grid-container">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Sketchimp</h3>
                </br>
                <span>Sketchimp is a web application for collaborative drawing. Meet up with your friends and draw great
                    sketches. Register to get all the benefits. You can only create or join drawing rooms with your own
                    account.
                    You can change your own profile at any time in the profile settings.
                </span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
            <div class="col-md-7 text-box">
                <h3>Dashboard</h3>
                </br>
                <span>The dashboard has a variety of functions. In the middle is the drawing area. The right color, with
                    the right thickness or the eraser can be found on the right-hand side, in the toolbox. In
                    addition, there are other important functions such as importing templates, saving sketches, saving
                    drawings and loading sketches into the public feed. On the left are the different drawing rooms with
                    their different members, a public feed link and a logout button. Each room has either one drawing
                    level for all or several levels for different roles. Only admins can change the roles in the
                    settings. To join a character space an Invitelink is required, which is created in the channel
                    info.</span>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Public-Feed</h3>
                </br>
                <span>All finished sketches are published here. Search the public feed and rate what you like, but that
                    only works with an account. The more sketches you publish and rate others, the higher your personal
                    score increases.</span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/app/resources/js/Landing.js"></script>

<%- include("partials/footer"); -%>