<div style="display: none">
    <%- include("partials/header"); -%>
</div>

<div class="landing-main-container">
    <div class="landing-top-bar">
        <% if (user !== undefined) { %>
            <a href="/logout" class="btn btn-outline-primary">Logout</a>
        <% } else { %>
            <a href="/login" class="btn btn-outline-primary">Login</a>
            <a href="/register" class="btn btn-outline-primary">Register</a>
        <% } %>
    </div>
    <div class="landing-content">
        <h2 style="margin-bottom: 5vh;">Sketching With Friends 2</h2>
        <div>
            <% if (user !== undefined) { %>
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/frontpage" class="btn btn-primary">Public Feed</a>
            <% } else { %>
                    <a href="/frontpage" class="btn btn-primary">Public Feed</a>
            <% } %>

        </div>
    </div>

</div>



<%- include("partials/footer"); -%>