<%- include("partials/header"); -%>

<div style="position: relative; width: 100%; height: 100%;">

    <canvas style="position: absolute; z-index: 1;" id='canvas'></canvas>
    <div class="landing-main-container"  >
            <div class="landing-content">
                <h2 style="position: relative; z-index: 2;">Sketching With Friends 2</h2>
                <hr class="my-5" style="margin-bottom: 5vh; border: 1px solid #444444; width: 50%; position: relative; z-index: 2;">
            </div>
    </div>
</div>

<div class="landing-main" style="width: 100%; height: 100%; position: relative; background: white;">
    <div class="container">
        <section id="best-features" class="text-center">
            <h2 class="mb-5 font-weight-bold">Best Features</h2>
            <div class="row d-flex justify-content-center mb-4">
                <div class="col-md-8">
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptate
                        hic
                        provident nulla repellat
                        facere esse molestiae ipsa labore porro minima quam quaerat rem, natus repudiandae debitis
                        est
                        sit pariatur.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-5">
                    <i class="fa fa-camera-retro fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Experience</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-md-4 mb-1">
                    <i class="fa fa-heart fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Happiness</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-md-4 mb-1">
                    <i class="fa fa-bicycle fa-4x orange-text"></i>
                    <h4 class="my-4 font-weight-bold">Adventure</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
            </div>
        </section>
        <hr class="my-5">
        <section id="examples" class="text-center">
            <h2 class="mb-5 font-weight-bold">Stunning Examples</h2>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
            </div>
        </section>
        <hr class="my-5">
        <section id="examples" class="text-center">
            <h2 class="mb-5 font-weight-bold">Stunning Examples</h2>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">

                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <h4 class="my-4 font-weight-bold">Heading</h4>
                    <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                        maiores nam,
                        aperiam minima
                        assumenda deleniti hic.</p>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="module" src="/app/resources/js/Landing.js"></script>

<%- include("partials/footer"); -%>