<%- include("partials/header"); -%>

<div class="hero" style="position: relative; width: 100%; height: 100%;">
    <canvas style="position: absolute; z-index: 1;" id='canvas'></canvas>
    <div class="landing-main-container"  >
            <div class="landing-content">
                <h2 class="noselect" style="position: relative; z-index: 2; text-transform: uppercase;">Sket<span style="color: var(--teal-accent);">chimp</span></h2>
                <hr class="my-5" style="margin-bottom: 5vh; border: 1px solid #444444; width: 50%; position: relative; z-index: 2;">
            </div>
            <div class="scroll-indicator"></div>
    </div>
</div>

<div class="landing-main" style="width: 100%; position: relative; background: white;">
    <div class="grid-container">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Sketchimp</h3>
            </br>
                <span>Hier tolle Projektinfos</span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
            <div class="col-md-7 text-box">
                <h3>Dashboard</h3>
            </br>
                <span>Tolle Features über das Dashboard</span>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Public-Feed</h3>
            </br>
                <span>Hier steht ein langer toller text mit tausend vielen infos über das Public-Feed</span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/app/resources/js/Landing.js"></script>

    <%- include("partials/footer"); -%>