<div style="display: none">
    <%- include("partials/header"); -%>
</div>

<h2>Landing Page</h2>
<div>
    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
    <a href="/frontpage" class="btn btn-primary">Frontpage</a>
</div>

<%- include("partials/footer"); -%>