<%- include("partials/header"); -%>

<div style="position: relative; width: 100%; height: 100%;">

    <canvas style="position: absolute; z-index: 1;" id='canvas'></canvas>
    <div class="landing-main-container"  >
            <div class="landing-content">
                <h2 style="position: relative; z-index: 2;">Sketching With Friends 2</h2>
                <hr class="my-5" style="margin-bottom: 5vh; border: 1px solid #444444; width: 50%; position: relative; z-index: 2;">
            </div>
    </div>
</div>

<div class="landing-main" style="width: 100%; position: relative; background: white;">
    <div class="grid-container">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Sketchimp</h3>
            </br>
                <span>Hier tolle Projektinfos</span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
            <div class="col-md-7 text-box">
                <h3>Dashboard</h3>
            </br>
                <span>Tolle Features über das Dashboard</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Public-Feed</h3>
            </br>
                <span>Hier steht ein langer toller text mit tausend vielen infos über das Public-Feed</span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
    </div>

    <!--footer class="page-footer font-small unique-color-dark">
        <div class="primary-color">
            <div class="container">
                <div class="row py-4 d-flex align-items-center">
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                    </div>
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
                        <a class="fb-ic ml-0">
                            <i class="fab fa-facebook white-text mr-4"> </i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter white-text mr-4"> </i>
                        </a>
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus white-text mr-4"> </i>
                        </a>
                        <a class="li-ic">
                            <i class="fab fa-linkedin white-text mr-4"> </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram white-text mr-lg-4"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div-->
        <!--div>
            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <h3>Project</h3>
                    </br>
                    <span>Hier sinnvoller Text</span>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <h3>Links</h3>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <h3></h3>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="module" src="/app/resources/js/Landing.js"></script>

    <%- include("partials/footer"); -%>