<%- include("partials/header"); -%>

<div class="hero" style="position: relative; width: 100%; height: 100%;">
    <canvas style="position: absolute; z-index: 1;" id='canvas'></canvas>
    <div class="landing-main-container">
        <div class="landing-content">
            <h2 class="noselect logo-text" style="position: relative; z-index: 2; text-transform: uppercase;">
                Sket<span>chimp</span></h2>
            <hr class="my-5"
                style="margin-bottom: 5vh; border: 1px solid #444444; width: 50%; position: relative; z-index: 2;">
        </div>
        <div class="scroll-indicator"></div>
    </div>
</div>

<div class="landing-main" style="width: 100%; position: relative; background: white;">
    <div class="grid-container">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Sketchimp</h3>
                </br>
                <span>Sketchimp is a web application for collaborative drawing. Meet up with your friends and draw great
                    sketches. Sign up for free to get all the benefits. You can only create or join drawing rooms with your own
                    account.
                    You can change your own profile at any time in the profile settings.
                </span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
            <div class="col-md-7 text-box">
                <h3>Dashboard</h3>
                </br>
                <span>The dashboard provides a variety of features. Your Canvas is in the center. Choose your color and
                    pen size or select the eraser with the toolbox on the right-hand side. Each Canvas can have one drawing
                    layer for all members or several levels for different roles. Only admins can change a users role in the
                    settings. In addition, there are other important functions such as selecting a template, saving sketches, finalizing
                    them and publishing them for everyone to enjoy! Switch between your different drawing rooms by
                    selecting their icon on the left. Create an invite link in the channel info to add friends to your Channels</span>
            </div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-md-7 text-box">
                <h3>Public-Feed</h3>
                </br>
                <span>Everyone can publish their favorite sketches here. Browse the public feed and log in to rate what you like.
                    With every person upvoting your groups drawings, your personal score increases!</span>
            </div>
            <div class="col-md-5 img-box">
                <img class="img" src="/app/resources/img/Test-img.jpg"></img>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/app/resources/js/Landing.js"></script>

<%- include("partials/footer"); -%>