<%- include("partials/header"); -%>

<div class="login-container">
    <% if (user) { %>
        <%- include("partials/alreadyLoggedIn"); -%>
    <% } %>
    <div class="dialog">
        <div class="login-form">
            <p>Hi There!</p>
            <% if (err) { %>
                <h3 style="color: red;"><%= err %></h3>
            <% } %>
            <form action="/login" method="POST">
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required/>
                </div>
                <div class="input">
                    <label >Password</label>
                    <input type="password" name="password" id="password" required/>
                </div>
                <div class="help">
                    <p">Need an account? Register <a href="/register">here</a>.</p>
                </div>
                <button class="btn btn-outline" type="submit">Login</button>
            </form>
        </div> 
        <div class="vl"></div>
        <div class="logo">
            <img src="/app/assets/logo_ohne_schrift.png">
            <span>Sket<span>chimp</span></span>
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>