<div style="display: none">
    <%- include("partials/header"); -%>
</div>

<div class="container-fluid">
    <div class="cards">
        <!--<div class="card">
            <div class="sketch">
                <img class="card-img-top" src="/app/resources/img/dashboard_placeholder.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Sketch Title blablbalbalaba</p>
                    <div class="votes">
                            <a href="#" class="btn btn-primary"><img src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                            <a href="#" class="btn btn-primary"><img src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                    </div>
                </div>
                
            </div>
            
        
        </div>--> 
        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>


        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>

        <div class="card">
            <div class="content">
              <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
                <div class="content-overlay"></div>
                <img class="content-image" src="/app/resources/img/dashboard_placeholder.jpg">
                <div class="content-details fadeIn-bottom">
                  <p class="content-title">This is a title</p>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_up-white-18dp.svg" ></img></a>
                  <a href="#"><img class="likebutton" src="/app/assets/thumb_down-white-18dp.svg"></img></a>
                </div>
              </a>
            </div>
        </div>
    </div>
</div>

 

 <style>
    

    

    

    @import url(https://fonts.googleapis.com/css?family=Raleway);

.container {
  
}

.cards {
   display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}

.main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}

.card{
  padding: 1em 0;
  float: left;
  width: 360px;
  border-radius: 15px;
  
}

.card .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
}

.content .content-overlay{
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 15px;
}

.content:hover .content-overlay{
  opacity: 1;
 
}

.content:hover .content-img{
  transform: scale(1.2);
}

.content-image{
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-image{
  transform:scale(1.2);
  opacity: .5;
}

.content-details {
font-size: 2.5em;
text-transform: uppercase;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details p{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.likebutton{
    height: 1em;
}


</style>
<%- include("partials/footer"); -%>