<%- include("partials/header"); -%>

<div class="login-container">
    <% if (user) { %>
        <%- include("partials/alreadyLoggedIn"); -%>
    <% } %>
    <div class="dialog">
        <div class="login-form">
            <p>Your new Account!</p>
            <% if (err) { %>
                <h3 style="color: red;"><%= err %></h3>
            <% } %>
            <form action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="r_username" required/>
                </div>
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required/>
                </div>
                <div class="input">
                    <label >Password</label>
                    <input type="password" name="password" id="password" required/>
                </div>
                <div class="help">
                    <p>Already have an account? Login <a href="/login">here</a>.</p>
                </div>
                <button class="btn btn-outline" type="submit">Sign Up</button>
            </form>
        </div> 
        <div class="vl"></div>
        <div class="logo">
            <img src="/app/assets/logo_ohne_schrift.png">
            <span>Sket<span>chimp</span></span>
        </div>
    </div>
</div>


<%- include("partials/footer"); -%>

