<%- include("partials/header"); -%>

    <div class="page-single">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo"></div>
                </div>
            </div>
            <% if (user) { %>
                <%- include("partials/alreadyLoggedIn"); -%>
            <% } %>
            <div class="modal-block-content">
                <% if (err) { %>
                    <h3 style="color: red;"><%= err %></h3>
                <% } %>
                <h3>Register a new account!</h3>
                <form class="form-horizontal" action="/register" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="r_username" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="r_email" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="r_password" class="form-control" required/>
                    </div>
                    <div class="form-group" >
                        <p class="help-block"><a class="link-underline">Forgot your password?</a></p>
                        <p class="help-block2 mb-25">Already have an account? Login <a href="/login" class="clr-primary link-underline">here</a>.</p>
                        <button type="submit" class="btn btn-block btn-radius btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include("partials/footer"); -%>

