.primary-background-color {
  background-color: #2C2F33;
}

.primary-dark-background-color {
  background-color: #23272A;
}

.primary-text-color {
  color: #FFFFFF;
}

.secondary-backround-color {
  background-color: #0277BD;
}

.secondary-text-color {
  color: #FFFFFF;
}
