/*New Design*/
body {
    box-sizing: content-box;
}

:root {
    --dashboard-channels-bar: #151515;
    --dashboard-top-bar: #151515;
    --dashboard-member-bar: #151515;
    --dashboard-canvas: #191919;
    --divider: #565656;
    --accent: #12c2aa;
}

/*Base*/

.divider {
    height: 1px;
    background-color: var(--divider);
    margin-left: 1vh;
    margin-right: 1vh;
}

.page-single {
    padding-top: 0;
}



.hidden {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    margin-right: 20px;
    background-color: transparent;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
    border-radius: 50%;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.dashboard {
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.channel-info-icon {
    cursor: pointer;
    height: 50%;
    width: auto;
    bottom: 0;
    margin-bottom: 0;
}

.dashboard-main-content-container {
    flex-grow: 1;
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-top-bar-history-outer {
    width: 100%;
    padding: 1vw;
    background-color: var(--dashboard-canvas);
}

.container-top-bar-history-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5vw;
    background-color: var(--dashboard-top-bar);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
}

.dashboard-top-app-bar {
    display: flex;
    height: 6vh;
    padding-left: 1vw;
    padding-right: 1vw;
    min-height: 45px;
    border-bottom: 1px solid var(--divider);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--dashboard-top-bar);
}

.dashboard-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--dashboard-canvas);
}

.dashboard-canvas-container {
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
    border-radius: 15px;
    margin: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 100%;
    height: 100%;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.info-settings-container {
    display: flex;
    align-items: center;
    justify-content:center}

#channel-nav {
    background-color: #242424;
    border-radius: 50%;
    padding: 10px;
    height: auto;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#channel-nav:hover {
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.channel-title {
    font-size: 20px;
    margin-right: 20px;
}

.channel {
    max-width: 100%;
}

.channel-info-icon {
    cursor: pointer;
}

/*Member on the right side*/

.container-member-toolbox {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    padding: 1vw;
    background-color: var(--dashboard-canvas);
    flex-direction: column;
}

.dashboard-member-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    margin-bottom: 1vw;
    flex-shrink: 0;
    padding: 1vw;
    flex-direction: column;
    background-color: var(--dashboard-member-bar);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.member-item {
    padding: 3px;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .dashboard-member-container {
        display: none;
    }
}

@media (max-width: 1000px) {
    .dashboard-member-container {
        display: none;
    }
}

.member {
    cursor: pointer;
}

.member-title {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

/*Toolbox*/

.dashboard-toolbox-container {
    background-color: var(--dashboard-member-bar);
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .7vw;
    align-items: center;
}

@media (max-width: 400px) {
    .dashboard-toolbox-container {
        display: none;
    }
}

.dashboard-color-picker {
    padding: 0.3vw;
}

.dashboard-toolbox-size {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
}

.toolbox-expanded {
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.toolbox-collapsed {
    padding: 10px;
    border-radius: 30px;
}

.toolbox-size-item {
    margin-bottom: 5px;
}

/*Save and load right bottom section*/
.container-load-and-publish {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    padding: 16px;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 16px;
    background-color: var(--dashboard-member-bar);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*Profile Page*/

.personal-profile {
    border-radius: 60%;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.personal-profile:hover {
    border-radius: 10px;
}

.personal-profile img {
    border-radius: inherit;
}

.profile-image-container {
    margin-top: 15px;
    position: relative;
    width: 80%;
    height: fit-content;
    max-width: 80%;
}

#profile-upload {
    visibility: hidden;
}

.profile-image {
    max-width: 100%;
    border-radius: 50%;
}

.profile-image-container:hover .profile-image-overlay{
    opacity: 1;
}

.profile-image-overlay {
    cursor: pointer;
    background-color: rgba(26, 26, 26, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    border-radius: 50%;
    opacity: 0;
}

/*Channel Sidebar Section*/

.dashboard-channels-container {
    height: 100%;
    background-color: var(--dashboard-channels-bar);
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
}

.channels-container-outer {
    padding: 1vw;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dashboard-canvas);
}

.dashboard-nav-shortcuts {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 10px;
}

.nav-shortcut {
    background-color: #242424;
    width: 85%;
    border-radius: 50%;
    padding: 15px;
    height: auto;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-shortcut:hover {
    border-radius: 10px;
}

.personal-profile-icon {
    margin: 1vh;
    padding: 0.2vh;
    cursor: pointer;
    max-width: 60px;
    max-height: 60px;
    background-color: var(--dashboard-canvas);
    border-radius: 50%;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-menu li {
    margin-top: 10px;
    display: flex;
    cursor: pointer;
    justify-content: center;
}

.sidebar-menu li a {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    width: 15vw;
    height: 15vw;
    max-width: 60px;
    max-height: 60px;
    margin: 0 6px 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 60%;
    font-size: medium;
    -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sidebar-menu li a:hover {
    background: rgba(255, 255, 255, 0.07);
    border-radius: 10px;
}

.sidebar-menu li a img {
    border-radius: inherit;
}

.sidebar-menu li a:active {
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.6);
}

.sidebar-menu .current-server {
    background-color: var(--accent);
    font-family: "uni_sansheavy_caps", sans-serif;
    font-size: 24px;
}

.sidebar-menu .current-server:hover {
    background-color: var(--accent);
}

.sidebar-menu .join-server {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
}

.sidebar-menu .join-server:hover {
    border-color: #fff;
    color: #fff;
    background: transparent;
}

/*Sketch History*/

.dashboard-sketch-history-container {
    display: flex;
    height: 5vh;
    min-height: 45px;
    width: 100%;
    background-color: var(--dashboard-top-bar);
}

.sketch-history-list-img {
    margin: 2px;
}

.sketch-history-list-item {
    display: flex;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.sketch-history-list-item:hover {
    transform:scale(1.2);
    opacity: .5;
}

.sketch-history-list {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 8px;
    overflow:auto;
    white-space: nowrap;
    display: flex;
}

.fullscreen-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: column;
    height: 100%;
    background: rgba(70, 70, 70, 0.9);
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

/*Dialogs*/

.dialog-container {
    background: rgba(26, 26, 26, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

/*Select Templates Dialog*/
.choose-template-container {
    background: rgba(70, 70, 70, 0.9);
    z-index: 10; position: absolute;
    top: 0; left: 0; display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
}

.template-item {
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.template-item:hover {
    width: 90%;
}

.choose-template-wrapper {
    width: 50%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 15px;
    background-color: var(--dashboard-canvas);
    justify-content: space-around;
}

.choose-template-container-inner {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 2vw;
    row-gap: 2vh;
}

/*AdminSettingsDialog*/
.admin-settings-icon {
    cursor: pointer;
    height: 50%;
    width: auto;
    bottom: 0;
    margin-bottom: 0;
}

.kick-member {
    background-color: transparent;
    border-width: 1px;
    border-style: dashed;
    border-color: var(--accent);
    padding: 5px;
    font-weight: 500;
    font-size: .7em;
    margin-right: 10px;
}

.kick-member:hover {
    border-width: 1px;
    border-style: dashed;
    border-color: var(--accent);
    padding: 5px;
    font-weight: 500;
    font-size: .7em;
    margin-right: 10px;
}

.dropdown-menu {
    margin: 0;
    background-color: #343434;
}

.dropdown:hover .dropdown-menu {display: block;}

.role-list {
    list-style-type: none;
    padding: 0
}

.role-tag {
    padding: 4px;
    color: #343434;
}

.role-item {
    max-width: 100%;
}

.role-item a {
    color: #fff;
    text-transform: capitalize;
}


#admin-settings-dialog .member-item {
    display: block;
}