.profile-container {
    width: 100%; 
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.dialog {
    height: 45vw;
    width: 55vw;
    display: flex; 
    align-items: center;
    padding: 3vw 3vw;
    border-color: var(--teal-accent);
    border-style: solid;
    border-radius: 2%;
    border-width: 2px;
    transition: background-color 0.1s linear;
    background-color: var(--darkest-grey);
}

.dialog:hover {
    background-color: rgba(255,255,255,0.005);
}

.profile-avatar {
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    width: 30%; 
    align-items: center; 
    margin-right: 1vw;
}

.profile-avatar div, .profile-avatar div img, .profile-avatar div div {
    width: 100%;
}

.profile-avatar form {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.profile-avatar form button {
    width: 70%;
}

.profile-form {
    padding: 0 0.5vw;
    width: 70%;
}

.profile-title {
    display: flex; 
    margin-top: 1vw; 
    justify-content: space-between; 
    align-items: start;
}

.profile-title h3 {
    width: 100%; 
    text-align: start; 
    font-size: 2vw; 
    text-transform: uppercase; 
}

.score-container {
    display: flex; 
    align-items: center;
}

.score-container img {
    margin-right: 1vw;
    width: 2vw;
}

.score-container span {
    font-size: 2vw;
}

.profile-form form {
    width: 100%;
}

.profile-form form div {
    display: flex; 
    flex-direction: column; 
    padding: 0.5vw 0;
    margin: 0.7vw 0;
}

.profile-form form p, .profile-form form div input {
    padding: 0.5vw 0.8vw;
    font-size: 1.3vw;
    margin: 0;
}

.profile-form form div label {
    color: var(--teal-accent);
    font-size: 1vw;
}

.profile-form form div input {
    border: 0; 
    border-radius: 3px; 
    border-bottom: 1px solid #444444; 
    background-color: transparent;
}

.profile-form form div input:focus {
    background-color: rgba(255,255,255,0.03);
    outline: none;
}

.profile-form form .help * {
    font-size: 0.75vw; 
    margin-bottom: 0.1vw;
    text-transform: capitalize;
}

.btn-save {
    width: 100%; 
    color: white; 
    background-color: var(--darkest-grey);
    border-color: var(--teal-accent); 
    border-radius: 10px; 
    border-style: solid; 
    padding: 0.8vw 2vw; 
    margin-top: 1vw;
    font-size: 1.2vw;
}

.btn-save:hover {
    background-color: var(--teal-accent);
    color: white;
}