<div id="admin-settings-dialog" class="page-single">
    <div class="modal-block modal-visible">
        <div class="modal-block-content">
            <img id="admin-settings-close" src="app/assets/clear-icon.svg" height="30px" width="30px"
                 style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>
            <% if (channel) { %>
            <h3>Admin-Settings</h3>
            </br>
            <div class="form-group">
                <label for="name">Channel Name</label>
                <input type="text" name="name" id="channel-name" class="form-control" required />
            </div>
            </br>
            <span class="member-role-list">Mitglieder</span>
            <ul class="role-list">
                <% Object.keys(channel.participants.toJSON()).forEach(function(roleGroup){ %>
                <% channel.participants[roleGroup].forEach((member) => { %>
                <li class="member-item clearfix ">
                    <img src="<%= user.avatar %>" alt="info" style="max-height: 40px;" />
                    <span class="member"><%= member.username %></span>
                    <span class="role-tag label"><% roleGroup %></span>
                    <div class="dropdown pull-right">
                        <button class="btn btn-xs btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Role-Settings
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 100%">
                            <li class="role-item"><a class="admin" href="#">admins</a></li>
                            <li class="role-item"><a class="collaborator" href="#">collaborators</a></li>
                            <li class="role-item"><a class="observer" href="#">viewers</a></li>
                        </ul>
                    </div>
                </li>
                <% }) %>
                <% }) %>
            </ul>
            </br>
            <% } %>
            <span class="save-settings btn btn-block btn-radius btn-primary">Save Settings</span>
        </div>
    </div>
</div>