<div id="admin-settings-dialog" class="dialog-container-inner"
     style="flex-direction: column; align-items: flex-start; min-width: 35vw;">
    <img id="admin-settings-close" src="app/assets/clear-icon.svg" height="30px" width="30px"
         style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>
    <h3 style="margin: 1vh;">Admin-Settings</h3>
    <div style="width: 100%; padding: 1vh 1vh; margin-bottom: 20px;">
        <label for="name">Channel Name</label>
        <input type="text" name="name" id="channel-name" class="form-control" required/>
    </div>
    <div style="display: flex; flex-direction: column; padding: 1vh 1vh; width: 100%">
        <span class="member-role-list">Mitglieder</span>
        <ul class="role-list"></ul>
        <template id="member-template-admin-dialog">
            <li class="member-item" style="display: flex; justify-content: space-between;">
                <div style="display: flex; align-items: center">
                    <span class="member"></span>
                    <span style="margin-left: 10px" class="role-tag label"></span>
                </div>
                <div style="display: flex; align-items: center">
                    <button class="btn btn-xs btn-primary kick-member" type="button">Kick Member</button>
                    <div class="dropdown">
                        <button class="btn btn-xs btn-primary" type="button" id="dropdownMenu1"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">
                            Role-Settings
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width: 100%">
                            <li class="role-item"><a class="admin" href="#">admins</a></li>
                            <li class="role-item"><a class="collaborator" href="#">collaborators</a></li>
                            <li class="role-item"><a class="observer" href="#">viewers</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </template>
    </div>
    <div style="padding: 1vh 1vh; width: 100%; max-width: 100%">
        <button class="save-settings btn btn-block btn-primary">Save Settings</button>
    </div>

</div>