<div id="admin-settings-dialog" class="page-single">
    <div class="modal-block modal-visible">
        <div class="modal-block-content">
            <h3>Admin-Settings</h3>
            <div class="form-group">
                <label for="name">Channel Name</label>
                <input type="text" name="name" id="r_name" class="form-control" required/>
            </div>
            </br>
            <span class="member-role-list">Mitglieder</span>
            <ul class="role-list" style="list-style-type: none; padding: 0">
                <% Object.keys(channel.participants.toJSON()).forEach(function(roleGroup){ %>
                    <% channel.participants[roleGroup].forEach((member) => { %>
                    <li class="member-item">
                        <img src="/app/assets/face-white.svg" alt="info" style="margin-right: 8px" />
                        <a style="<%= member.online ? 'color:green' : 'color:red' %>" class="member"
                            href="/api/user/<%= member._id %>"><%= member.username %></a>
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Role-Setting
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                    </li>
                    <% }) %>
                <% }) %>
            </ul>
            <span class="btn btn-block btn-radius btn-primary">Save Settings</span>
        </div>
    </div>
</div>