<div id="admin-settings-dialog" class="page-single">
    <div class="modal-block modal-visible">
        <div class="modal-block-content">
            <% if (channel) { %>
            <!-- https://getbootstrap.com/docs/3.3/javascript/#modals -->
            <!-- <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Admin-Settings</h3>
            </div> -->
            <h3>Admin-Settings</h3>
            </br>
            <div class="form-group">
                <label for="name">Channel Name</label>
                <input type="text" name="name" id="channel-name" class="form-control" required />
            </div>
            </br>
            <span class="member-role-list">Mitglieder</span>
            <ul class="role-list" style="list-style-type: none; padding: 0">
                <% Object.keys(channel.participants.toJSON()).forEach(function(roleGroup){ %>
                <% channel.participants[roleGroup].forEach((member) => { %>
                <li class="member-item">
                    <img src="/app/assets/face-white.svg" alt="info" style="margin-right: 8px" />
                    <span class="member"><%= member.username %></span>
                    <span class="role-tag label"><% roleGroup %></span>
                    <!--a style="<%= member.online ? 'color:green' : 'color:red' %>" class="member"
                        href="/api/user/<%= member._id %>"><%= member.username %></a-->
                    <div class="dropdown pull-right">
                        <button class="btn btn-xs btn-primary" type="button" id="dropdownMenu1" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            Role-Settings
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="admin" href="#">Admin</a></li>
                            <li><a class="collaborator" href="#">Collaborator</a></li>
                            <li><a class="observer" href="#">Observer</a></li>
                        </ul>
                    </div>
                </li>
                <% }) %>
                <% }) %>
            </ul>
            </br>
            <% } %>
            <span class="save-settings btn btn-block btn-radius btn-primary">Save Settings</span>
        </div>
    </div>
</div>