<div class="page-single">
    <div class="modal-block modal-visible">
        <div class="modal-block-content">
            <div class="modal-header">
                <h3 class="modal-title">Hey <span class="info-channel-name"><%= user.username %>!</span></h3>
            </div>
            <div class="modal-body">
                <h6>Not you? Logout first to sign in as a different User.</h6>
                </br>
                <a href="/logout" class="leave-channel btn btn-block btn-radius btn-primary">Logout!</a>
                <button onclick="window.history.back();" class="leave-channel btn btn-block btn-radius btn-primary">Take me Back!</a>
            </div>
        </div>
    </div>
</div>