<div class="dialog-container-inner" style="flex-direction: column; align-items: flex-start; ">
    <div class="modal-header">
        <h3 class="modal-title">Hey <span class="info-channel-name"><%= user.username %>!</span></h3>
    </div>
    <div class="modal-body">
        <h6>Not you? Logout first to sign in as a different User.</h6>
        </br>
        <a href="/logout" class="leave-channel btn btn-outline">Logout!</a>
        <a href="/dashboard" class="leave-channel btn btn-outline">Back to Dashboard!</a>
    </div>
</div>