<div id="sidebar">
    <ul class="sidebar-menu">
        <li class="toggle-sidebar"><a href="#" data-toggle="sidebar"><i class="fas fa-users"></i></a></li>
        <% user.channels.forEach(function(channel){ %>
            <li><a href="/channel/<%= channel._id%>" class="channel current-server" data-toggle="tooltip" data-placement="right" data-title="<%= channel.name %>"><%= channel.name.substring(0, 1) %></a></li>
        <% }) %>
        <li><a href="/channel/new" class="channel join-server" data-start="modal-custom" data-target="#create-group" data-toggle="tooltip" data-placement="right" data-title="Create Channel"><i class="fa fa-plus"></i></a></li>
    </ul>
</div>