<div>
    <ul class="sidebar-menu">
        <template id="channel-template">
            <li><a href="" class="channel current-server" data-toggle="tooltip" data-placement="right" data-title=""></a></li>
          </template> 
        <% user.channels.forEach(function(channel){ %>
            <li><a href="/api/channel/<%= channel._id%>" class="channel current-server" data-toggle="tooltip" data-placement="right" data-title="<%= channel.name %>"><%= channel.name.substring(0, 1) %></a></li>
        <% }) %>
        <li id="channel-new"><a href="/api/channel/new" class="join-server" data-start="modal-custom" data-target="#create-group" data-toggle="tooltip" data-placement="right" data-title="Create Channel"><i class="fa fa-plus"></i></a></li>
    </ul>
</div>