<div class="dialog-container-inner" style="flex-direction: column; align-items: flex-start">
    <img id="create-channel-close" class="dialog-close" src="app/assets/clear-icon.svg" height="30px" width="30px"/>
    <% if (!channel) { %>
        <h3>Welcome <%= user.username %>!</h3>
        <h6>It looks like you're not a member of any channels yet.</h6>
        <h6>Create your own or join an existing one!</h6>
    <% } %>
    <h3>Create a new Channel</h3>
    <form class="form-dialog" method="POST">
        <div class="form-group-custom">
            <label for="name">Channel Name</label>
            <input type="text" name="name" id="r_name" class="text-input" required/>
        </div>
        <div class="form-group-custom">
            <label for="name">Enter a name for your first Sketch!</label>
            <input type="text" name="name" id="r_sketch_name" class="text-input" required/>
        </div>
        <div class="layer-decision">
            <h5 style="margin-top: 2vh; margin-bottom: 1.5vh">Please select how many layers you want use:</h5>
            <input type="radio" id="one-layer" name="layer" value="one-layer" checked>
            <label for="one-layer" style="margin-left: 1vw;">One Layer</label><br>
            <input type="radio" id="multi-layer" name="layer" value="multi-layer">
            <label for="multi-layer" style="margin-left: 1vw;">Separate Layer for Admin and Collaboraters</label><br>
        </div>
        <button type="submit" class="submit-channel-creation btn btn-radius btn-primary" style="width: 100%;">Create Channel</button>
    </form>

</div>


