<div class="dialog-container-inner" style="flex-direction: column; align-items: flex-start">
    <img id="create-sketch-close" src="app/assets/clear-icon.svg" height="30px" width="30px"
         style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>
    <h3>Create a new Sketch</h3>
    <h6> Current gets saved and finalized</h6>
    <form class="form-dialog" style="margin-top: 3vh;">
        <div class="form-group-custom">
            <label for="name">Sketch Name</label>
            <input type="text" name="name" id="sketch_name" class="text-input"/>
        </div>
        <div class="layer-decision">
            <h5 style="margin-top: 2vh; margin-bottom: 1.5vh">Please select how many layers you want use:</h5>
            <input type="radio" id="one-layer" name="layer" value="one-layer" checked>
            <label for="one-layer" style="margin-left: 1vw;">One Layer</label><br>
            <input type="radio" id="multi-layer" name="layer" value="multi-layer">
            <label for="multi-layer" style="margin-left: 1vw;">Separate Layer for Admin and Collaboraters</label><br>

        </div>
        <button class="submit-sketch-create btn btn-block btn-radius btn-primary">Create Sketch</button>
    </form>
</div>


