
    <div style="display: flex; align-items: center">
        <div class="modal-block modal-visible">
            <div class="modal-brand">
                <div class="modal-brand-caption">
                    <div class="logo"></div>
                </div>
            </div>
            <div class="modal-block-content">
                <h3>Create a new Sketch. Current gets saved and finalized</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="name">Sketch Name</label>
                        <input type="text" name="name" id="sketch_name" class="form-control" />
                    </div>
                    <button class="submit-sketch-create btn btn-block btn-radius btn-primary">Create Sketch</button>
                </form>
            </div>
        </div>
    </div>


