
    <div style="display: flex; align-items: center">
        <div class="modal-block modal-visible">
            <div class="modal-block-content">
                <% if (!channel) { %>
                    <div class="modal-header">
                        <h3 class="modal-block-title">Welcome <%= user.username %>!</h3>
                        <h6>It looks like you're not a member of any channels yet.</h6>
                        <h6>Create your own or join an existing one!</h6>
                    </div>
                <% } %>
                <div class="modal-body">
                    <h3>Create a new Channel</h3>
                    <form class="form-horizontal" method="POST">
                        <div class="form-group">
                            <label for="name">Channel Name</label>
                            <input type="text" name="name" id="r_name" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <label for="name">Sketch Name</label>
                            <input type="text" name="name" id="r_sketch_name" class="form-control" required/>
                        </div>
                        <button type="submit" class="submit-channel-creation btn btn-block btn-radius btn-primary">Create Channel</button>
                    </form>
                    </br>
                    <h3>Join a Channel</h3>
                    <form class="form-horizontal" method="POST">
                        <div class="form-group">
                            <label for="name">Channel ID</label>
                            <input type="text" name="name" id="r_join" class="form-control" required/>
                        </div>
                        <button type="submit" class="submit-channel-join btn btn-block btn-radius btn-primary">Join Channel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


