<% if (title === "landing" || title === "publicfeed" || (title === "imprint")) { %>
<footer>
    <div class="footer-content">
        <div class="container-fluid">
            <div class="row" style="display: flex; justify-content: space-between;">
                <div style="width:50%;">
                    <h5>Sketchimp.me</h5>
                    <hr>
                    <p>Sketchimp.me is the Result of a Student Project
                        at the <a href="https://www.uni-regensburg.de/">University of Regensburg
                            in Germany</a>.</p>
                    <p>This Website is not used for any Commercial Purposes - please refrain from taking legal action regarding the displayed content.
                        Refer to the Legal Notice for any further Information.
                    </p>
                </div>
                <div style="width: 25%;">
                    <h5>Navigation</h5>
                    <ul>
                        <li><a href="/">Homepage</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Signup</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/public-feed">Public-Feed</a></li>
                    </ul>
                </div>
                <div style="width: 25%;">
                    <h5>Information</h5>
                    <ul><li><a href="/imprint">Legal Notice</a></li></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">Made in 2020<a href="/"> - Sketchimp.me</a></div>
</footer>
<% } %>

</html>