<% if (title === "landing" || title === "publicfeed" || (title === "imprint")) { %>
<footer class="page-footer mt-auto font-small pt-4">
    <div class="footer-content">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">Sketchimp.me</h5>
                    <hr class="my-5">
                    <p>Sketchimp.me is the Result of a Student Project
                        at the <a href="https://www.uni-regensburg.de/">University of Regensburg
                            in Germany</a>.</p>
                    <p>This Website is not used for any Commercial Purposes - please refrain from taking legal action regarding the displayed content.
                        Refer to the Legal Notice for any further Information.
                    </p>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase footer-list-heading">Navigation</h5>
                    <ul class="list-unstyled">
                        <li><a href="/">Homepage</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Signup</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/public-feed">Public-Feed</a></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase footer-list-heading">Information</h5>
                    <ul class="list-unstyled"><li><a href="/imprint">Legal Notice</a></li></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3"">Made in 2020<a href="/"> - Sketchimp.me</a></div>
</footer>
<% } %>

</html>