<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/app/resources/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/app/resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="/app/resources/css/main.css?rev=@@hash" rel="stylesheet">
    <link href="/app/resources/css/main-responsive.css?rev=@@hash" rel="stylesheet">

    <link rel="stylesheet" href="/app/resources/css/style.css">
    <link rel="stylesheet" href="/app/resources/css/colors.css">
    <link rel="stylesheet" href="/app/resources/css/dashboard.css">
    <link rel="stylesheet" href="/app/resources/css/landing.css">

</head>

<body>

    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-menu">
                <% if(title !== "Login" && title !== "Register"){ %>
                    <% if(title !== "Dashboard"){ %>
                        <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                    <% } %>
                    <% if(title !== "username"){ %>
                        <a href="/user/@me" class="btn btn-primary">My Profile</a>
                    <% } %>
                    <a href="/logout" class="btn btn-primary">Logout</a>
                <% } %>
            </div>
        </div>
    </nav>