<div id="user-profile-dialog" class="page-single">
    <div class="modal-block modal-visible">
        <div class="modal-block-content">
            <img id="admin-settings-close" src="app/assets/clear-icon.svg" height="30px" width="30px"
                 style="cursor: pointer; position: absolute; top: 30px; right: 30px;"/>
            <div class="grid-container">
                <div class="row">
                    <div class="col-md-3 avatar-box">
                        <img src="<%= user.avatar %>" alt="info" style="max-height: 120px;" />
                    </div>
                    <div class="col-md-3 info-box">
                        <p>Name</p>
                        <p>Id</p>
                        <p>Onlinestatus</p>
                    </div>
                    <div class="col-md-3 score-box">
                        <p>Score</p>
                    </div>
                </div>
            </div>
            <p>Placeholder</p>
            <p>Placeholder</p>
            <p>Placeholder</p>
            <p>Placeholder</p>
        </div>
    </div>
</div>