<div class="modal-user-profile hidden">
    <div class="flex-container">
        <div class="flex-header">
            <div class="profile-image-container">
                <img class="profile-image" src="<%= user.avatar%>">
            </div>
        </div>
        <div class="flex-body">
            <div class="flex-body-header">
                <h3 id="username"></h3>
                <div class="profile-trophy">
                    <span id="userscore" style="font-size: 22px"></span>
                    <img src="../../../app/assets/icons/emoji_events.svg" width="40px" style="margin-right: 8px" />
                </div>
            </div>
            <div id="sharedChannelsContainer" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Shared Channels</h4>
                </div>
                <div class="panel-body">
                    <ul id="sharedChannels" style="text-indent: 0; list-style: none; margin-block-start: 0; padding-inline-start: 0"></ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Status</h4>
                </div>
                <div id="status" class="panel-body">
                </div>
            </div>
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Info</h4>
                    </div>
                    <div id="info" class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>